
.shadow-box{
    box-shadow: 3px 4px 4px 0px #00000080;


}

.box_img{

    background-image: url("/img/gamer.jpg");
    width: 200.25px;
    height: 100.86px;
    border-radius: 12px;
    transform: rotate(-8deg);
    background-size: cover;
    
}   


