@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&family=Nunito:wght@300&family=Poppins:wght@500&display=swap');


.sectionGamer{
    box-shadow: 3px 4px 4px 0px #00000080;


}

.box_img{

    background-image: url("/img/gamer.jpg");
    width: 200.25px;
    height: 100.86px;
    border-radius: 12px;
    transform: rotate(-8deg);
    background-size: cover;
    
}   

h2{
    text-wrap: balance;
    font-family: 'Laila', serif;
}