@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;700&family=Nunito:wght@300&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Laila', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: white;
}

@media (min-width: 636px) {
  body{
    width: 636px;
    margin: 0% auto;
  }
}

.btn_footer.active{
  background-color: rgba(136, 136, 136, 0.6);
  border-radius: 6px;

}
.text_menu{
  font-weight: bold;

}